@model LabProject.Models.GravityModels.AuthorModel

@{
    ViewData["Title"] = "Author Details";
}

<h2>@Model.AuthorName</h2>

<h4>Books by this Author</h4>
<ul>
    @foreach (var book in Model.Books)
    {
        <li>
            <a href="@Url.Action("Edit", "Book", new { id = book.BookId })">@book.Title</a>
        </li>
    }
</ul>

<a href="@Url.Action("Edit", "Author", new { id = Model.AuthorId })" class="btn btn-warning">Edit</a>
<a href="@Url.Action("List", "Author")" class="btn btn-primary">Back to List</a>